<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
	<title>score_students</title>
	<link rel="stylesheet" type="text/css" href="<?php echo CSS_URL ?>score_students.css">
</head>
<body>
<div id="allstudents">
		<table align="center" id="MyTable">
			<tr id="even">
				<th class="ID">ID</th>
				<th class="num">学号</th>
				<th width="150px;">是否提交</th>
				<th width="150px;">分数</th>
			</tr>
			<tr>
				<th class="ID">{$num_1}</th>
				<th class="num">{$stunum_1}</th>
				<th><label>{$submit_1}</label></th>
				<th id="addedit"><label>{$src_1}</label></th>
			</tr>
			<tr id="even">
				<th class="ID">{$num_2}</th>
				<th class="num">{$stunum_2}</th>
				<th >{$submit_2}</th>
				<th>{$src_2}</th>
			</tr>
			<tr>
				<th class="ID" >{$num_3}</th>
				<th class="num">{$stunum_3}</th>
				<th>{$submit_3}</th>
				<th>{$src_3}</th>
			</tr>
			<tr id="even">
				<th class="ID">{$num_4}</th>
				<th class="num">{$stunum_4}</th>
				<th>{$submit_4}</th>
				<th>{$src_4}</th>
			</tr>
			<tr>
				<th class="ID">{$num_5}</th>
				<th class="num">{$stunum_5}</th>
				<th>{$submit_5}</th>
				<th>{$src_5}</th>
			</tr>
			<tr id="even">
				<th class="ID">{$num_6}</th>
				<th class="num">{$stunum_6}</th>
				<th>{$submit_6}</th>
				<th>{$src_6}</th>
			</tr>
			<tr>
				<th class="ID">{$num_7}</th>
				<th class="num">{$stunum_7}</th>
				<th>{$submit_7}</th>
				<th>{$src_7}</th>
			</tr>
			<tr id="even">
				<th class="ID">{$num_8}</th>
				<th class="num">{$stunum_8}</th>
				<th>{$submit_8}</th>
				<th>{$src_8}</th>
			</tr>
			<tr>
				<th class="ID">{$num_9}</th>
				<th class="num">{$stunum_9}</th>
				<th>{$submit_9}</th>
				<th>{$src_9}</th>
			</tr>
			<tr id="even">
				<th class="ID">{$num_10}</th>
				<th class="num">{$stunum_10}</th>
				<th>{$submit_10}</th>
				<th>{$src_10}</th>
			</tr>
			<tr>
				<th class="ID">{$num_11}</th>
				<th class="num">{$stunum_11}</th>
				<th>{$submit_11}</th>
				<th>{$src_11}</th>
			</tr>
			<tr id="even">
				<th class="ID">{$num_12}</th>
				<th class="num">{$stunum_12}</th>
				<th>{$submit_12}</th>
				<th>{$src_12}</th>
			</tr>
			<tr>
				<th class="ID">{$num_13}</th>
				<th class="num">{$stunum_13}</th>
				<th>{$submit_13}</th>
				<th>{$src_13}</th>
			</tr>
			<tr id="even">
				<th class="ID">{$num_14}</th>
				<th class="num">{$stunum_14}</th>
				<th>{$submit_14}</th>
				<th>{$src_14}</th>
			</tr>
			<tr>
				<th class="ID">{$num_15}</th>
				<th class="num">{$stunum_15}</th>
				<th>{$submit_15}</th>
				<th>{$src_15}</th>
			</tr>
			<tr id="even">
				<th class="ID">{$num_16}</th>
				<th class="num">{$stunum_16}</th>
				<th>{$submit_16}</th>
				<th>{$src_16}</th>
			</tr>
		</table>
	<div id="turnPage">
		<div id="lastPage"><a href="#"><strong>上一页</strong></a></div>
		<div id="nextPage"><a href="#"><strong>下一页</strong></a></div>
		<button id="Scores" type="submit">评分</button>
	</div>
</div>
</body>
</html>